<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= category %></h1>
    <ul>
        <% data.map((e) => { %>
            <li><a href="/category/<%= category %>/<%= e %>"><%= e %></a></li>
        <% }) %>
    </ul>
</body>
</html>