<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= data.name %></h1>
    <img src="https://images.igdb.com/igdb/image/upload/t_thumb/co2mgv.jpg" alt="" style="width: 100px">
    <h3>Rating: <%= data.rating %></h3>
    <h3>Genre: <%= data.genre %></h3>
    <h3>Developer: <%= data.developer %></h3>
</body>
</html>